.textiles-area {
	display: flex;
	align-items: center;

	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 30%;

		@include triangulo;

		@include media-breakpoint-down(md) {
			left: 45%;
		}
	}

	p {
		margin-bottom: 0;
	}

	.textiles-area__right {
		padding-top: 2rem;
		padding-bottom: 2rem;

		@include media-breakpoint-down(xs) {
			text-align: center;

			@include media-breakpoint-down(md) {
				p {
					text-align: left;
				}
			}
		}

		.title--3 {
			margin-bottom: 4rem;

			@include media-breakpoint-down(xs) {
				margin-bottom: 2.5rem;
			}
		}
	}
}

/*Mision*/
.mision {
	background-color: #f2f8f9;
	padding-bottom: 4rem;

	.mision__left {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		text-align: right;
		padding-right: 2rem;

		@include media-breakpoint-down(md) {
			text-align: center;
			padding-top: 4rem;
			padding-bottom: 2rem;
		}

		.content {
			.title--3 {
				&:before {
					left: 45%;
				}

				@include media-breakpoint-down(md) {
					margin-bottom: 2.5rem;
				}
			}

			p {
				margin-bottom: 0;
				padding-left: 3rem;

				@include media-breakpoint-down(md) {
					padding-left: 0;
				}
			}
		}
	}

	.mision__right {
		.content {
			@include backgroundSettings;
			min-height: 510px;
			position: relative;

			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: -3%;

				@include triangulo-izquierda();

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}
}

/*vision*/
.vision {
	padding-bottom: 4rem;

	.vision__left {
		.content {
			@include backgroundSettings;
			min-height: 584px;
			position: relative;

			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				right: -3.5%;

				@include triangulo-derecha();

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}

	.vision__right {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 7rem;
		min-height: 584px;
		padding-left: 2rem;

		@include media-breakpoint-down(md) {
			text-align: center;
			padding-top: 4rem;
			padding-bottom: 2rem;
			padding-left: 15px;
			min-height: auto;

			p {
				text-align: left;
			}

			blockquote {
				margin-bottom: 2rem;
			}

			.title--3 {
				&:before {
					left: 30%;
				}

				@include media-breakpoint-down(md) {
					margin-bottom: 2.5rem;
				}
			}
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*tipo de telas*/
.tipodetela {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.tipodetela__title {
	@extend .col-12;
	display: flex;
	justify-content: center;
	.title--3 {
		max-width: 420px;
		text-align: center;
		line-height: 32px;

		&:before {
			left: 45%;
		}

		span {
			color: #5c6670;
			font-weight: 100 !important;
			display: inline-block;
		}
	}
}

.container__items__tela {
	background-color: #fbfcfc;

	.item__tipodetela {
		@extend .col-lg-3;

		.content {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
		}

		&:hover {
			background-color: #f3fbfc;
		}
	}
}
