.header__shop {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: 0;
	padding-top: 0;
	position: relative;
	min-height: 200px;

	.site-branding {
		min-height: 200px !important;
		margin-bottom: 0 !important;
		display: flex;
		align-items: center;
		position: relative;
	}

	&:before {
		background-color: #000;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0.3;
	}
}

.site-header .site-branding img {
	max-width: 100px !important;
}
.site-header-cart {
	li {
		margin-bottom: 0;
		a {
			span {
				color: #fff;
				font-weight: bold !important;
				opacity: 1 !important;
			}

			&:after {
				color: #fff;
			}
		}
	}
}

.col-full {
	display: flex;
	align-items: center;
}

.right-sidebar .content-area {
	@include media-breakpoint-down(md) {
		width: 100%;
		margin-right: 0;
	}
}

#secondary {
	margin-top: 2.5rem;

	@include media-breakpoint-down(md) {
		width: 100%;
		margin-bottom: 0;
		text-align: center;

		.product-categories {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				margin-right: 1rem;
			}
		}
	}
}

.shop__container {
	@include media-breakpoint-down(md) {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
	}
}

.woocommerce-products-header__title {
	&.page-title {
		text-align: center !important;
		padding-top: 3rem;
		padding-bottom: 1.5rem;

		color: #5c6670;
		font-family: "Josefin Sans";
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.75rem;
		position: relative;

		@include media-breakpoint-down(xs) {
			text-align: center;
		}

		&:before {
			background-color: $primary;
			content: "";
			display: block;
			position: absolute;
			width: 3.5rem;
			height: 3px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			bottom: 0px;
		}
	}
}

.attributes {
	font-weight: 600;
	font-size: 1rem;
	text-align: left;
	padding-left: 2.5rem;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5px;

	@include media-breakpoint-down(md) {
		font-size: 13px;
	}

	a[rel="tag"] {
		padding-left: 5px;
	}

	a.woocommerce-LoopProduct-link {
		display: inline-block;
		pointer-events: none;
		cursor: default;
		color: #000;
	}
}

.woocommerce-loop-product__title {
	color: #5c6670;
	font-size: 1.3rem !important;
	font-weight: bold !important;
	letter-spacing: 1px;
	text-align: left;
	padding: 0 1rem;
	padding-top: 1rem;
	margin-bottom: 0 !important;
}

.price {
	margin-bottom: 0 !important;
	span {
		color: $primary;
		display: inline-block;
		font-size: 2rem;
		font-weight: bold;
		padding: 0.5rem 0 !important;
	}
}

.add_to_cart_button,
#payment .place-order .button {
	background: $primary;
	color: #fff;
	width: 100%;
	padding: 1rem 0;

	transition: 0.5s linear all;

	&:hover {
		background: #5c6670;
		color: #fff;
	}
}

.woocommerce-LoopProduct-link {
	pointer-events: none;
}

.widget_product_categories {
	margin-bottom: 1rem;
}

.header__pages {
	h1 {
		color: #fff;
	}
}

.cuatro-container {
	background-color: $light-1;
	.content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-height: 70vh;
		flex-direction: column;
		justify-content: center;
	}

	h2 {
		color: $primary;
		font-size: 15rem;
		letter-spacing: 10%;
		padding: 2rem 0;
		margin-bottom: 5rem;
		text-align: center;

		@include media-breakpoint-down(xs) {
			font-size: 10rem;
			margin-bottom: 2rem;
		}
	}

	h1 {
		color: #5c6670;
		text-align: center;
		font-size: 3rem;
		letter-spacing: 1px;

		@include media-breakpoint-down(xs) {
			font-size: 2rem;
		}
	}

	p {
		padding: 1rem 0;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
	}
}

/*tabs*/
.nav-tabs {
	border-bottom: none !important;

	a,
	a:visited {
		color: $txt;
	}

	.nav-item.active {
		border-color: $primary !important;
		border-bottom: none !important;
		background-color: rgb(251, 251, 251) !important;
		outline: none !important;
	}
}
.tab-content {
	width: 100%;
	#wpmem_login,
	#wpmem_reg {
		border: 1px solid rgb(222, 226, 230) !important;
	}

	legend {
		padding-top: 2rem;
	}

	fieldset {
		margin: 0 !important;
	}

	.div_text {
		width: 100% !important;
		padding: 0rem 4rem;
		margin-bottom: 2rem !important;

		@include media-breakpoint-down(xs) {
			padding-left: 1rem !important;
			padding-right: 1rem !important;
		}
	}
}
.tab-pane {
	width: 100%;
}

.button_div,
.link-text {
	width: 100% !important;
	text-align: center !important;
}

.link-text {
	margin-bottom: 1rem;
}

.right-sidebar .content-area {
	width: 100%;
	float: left;
	margin-right: 0;
	margin: 0 auto;
}

.entry-header {
	h1 {
		text-align: center;
		margin: 2rem 0;
	}
}

.shop_table_responsive th {
	background-color: #afdbe0 !important;
}

.button.checkout-button {
	background-color: $primary;
}

.woocommerce-cart-form__cart-item {
	.product-name {
		a {
			pointer-events: none;
			cursor: default;
			color: #000;
		}
	}
}

.woocommerce-MyAccount-content {
	width: 100% !important;
	padding: 1rem;
	min-height: 55vh;

	p {
		text-align: center;
	}
}

.woocommerce-MyAccount-navigation {
	width: 100% !important;
	background-color: #e4e7ec;
	padding: 2rem 2rem;

	ul {
		li {
			padding-left: 0;

			a {
				color: #5c6670 !important;
				font-family: "Josefin Sans";
				outline: none;
			}
		}
	}
}

.entry-title {
	color: #5c6670 !important;
	font-family: "Josefin Sans";
	margin-top: 2rem;
}

.hentry .entry-content a:not(.button):not(.components-button) {
	text-decoration: none !important;
}

.dashboard__link {
	min-height: 200px;
	flex-direction: column;

	a {
		&:hover {
			opacity: 0.8;
		}
	}

	h3 {
		color: $primary;
		font-family: "Josefin Sans";
		font-size: 1.8rem;
		line-height: 2.5rem;
		letter-spacing: 1px;
		margin-top: 1rem;
		text-transform: uppercase;
		text-align: center;
	}

	img {
		width: 128px;
		height: 128px;
		margin: 0 auto;

		border-bottom: 1px solid $primary;
	}
}

.woocommerce-address-fields__field-wrapper,
.checkout {
	select {
		padding: 1rem 0.5rem !important;
	}

	.form-row {
		width: 100% !important;
		margin-right: 0 !important;
		padding: 1rem 0;

		@include media-breakpoint-down(xs) {
			width: 100% !important;
		}

		.woocommerce-input-wrapper {
			width: 100%;
		}

		label {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			margin-right: 10px;
		}
	}

	.form-row-wide {
		width: 100% !important;

		.woocommerce-input-wrapper {
			width: 100% !important;
			margin-top: 10px !important;
		}
	}
}

.product {
	padding-left: 0;
}

.required {
	color: $primary !important;
}

.password-input {
	width: 100%;
	margin-bottom: 1rem;
}
